@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: rgb(255, 255, 255); /* Light background */
    --text-color: rgb(17, 24, 28); /* Light text color */
}

[data-theme='dark'] {
    --bg-color: rgb(0, 0, 0); /* Dark background */
    --text-color: rgb(236, 237, 238); /* Dark text color */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

pre {
    @apply bg-gray-200 text-gray-800 p-4 rounded-lg overflow-auto; /* Light mode styles */
}

[data-theme='dark'] pre {
    @apply bg-gray-900 text-gray-100;
}

code {
    @apply font-mono text-sm text-gray-800; /* Light mode styles */
}

[data-theme='dark'] code {
    @apply text-gray-100;
}